# Ignore data directory
data/

# Ignore virtual environment directory
venv/

# Add other patterns to ignore here
# For example, ignore log files
*.log

# Ignore compiled Python files
__pycache__/
*.py[cod]
.env/